
.Typist .Cursor {
  display: inline-block;}

.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
  }
.Typist {
  font-size: 34px;
  font-family: 'Roboto';
  color: whitesmoke;
  font-weight: lighter;
}
@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; }
  }
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@mixin flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: auto;
}
.landing-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1600px;
    background: linear-gradient(45deg,rgba(179, 123, 196, 0.5),rgba(0,0,0,0.3), rgba(113, 207, 245, 0.5)),  url('./table.jpg') no-repeat ;
    background-size: cover;
    background-position: center bottom;

}
.header {
    @include flex-center();
    width: 100%;
    height: 260px;
    font-family: 'Josefin Sans';
    animation: fadein 1s;
    font-size: 70px;
    margin-top: 50px;
    font-weight: 100;
    color: white;
    text-shadow: 2px 2px 5px black;

}
@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
.logobox {
        @include flex-center();
          height: 250px;
  }

.button-box {
    @include flex-center();
    height: 360px;
    position: relative;

    .shadow,
    .Login-button{
        animation: fadein 2s;
        position: absolute;
        width: 160px;
        height: 40px;
      }
    .shadow {
      animation: pulse 1.2s ease infinite;
      animation-delay: 6.5s !important;
      border: 2px solid white;
      border-radius: 25px
    }
    .log-in{
        @include flex-center();
        height: 40px;
        width:160px;
        border-radius: 25px;
        background-color: white;
        font-family: 'Roboto';
        font-weight: 400;
        color: opacity;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        z-index: 99;
        }

}

a {
  text-decoration: none;
}
.features-box {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  display: flex;
  height: 600px;
  width: 100%;
  padding-top: 60px;
  .box {
    margin: 30px;
    height: 400px;
    width: 300px;
    padding: 10px;
    font-size: 19px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    justify-content: space-between;
    font-family: 'Josefin Sans';
    background: rgba(white, 0.75);
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.3);
    color: black;
    img {
      position: absolute;
      top: 40%;
      left: 38%;
      height: 70px;
      width: 70px;
    }

  }
}



.features-header {
  font-family: 'Josefin Sans';
  font-size: 12px;
  color: whitesmoke;
  top: 30px;
  position: absolute;
  width: 100%;
  height: 80px;
  align-items: center;
  display:flex;
  justify-content: center;

}

.line {
  height:1px;
  position: absolute;
  bottom: 0;
  width: 80vw;
  background:#FFF;
  border-bottom: 0.5px solid #FFF;
  opacity: 0.4;
  // box-shadow: 0px 0px 15px 1px #FFF;
}

img {

  height: 60px;
  width: 60px;
}












//DOTS
.universe {
  width:100%;
  height: 1200px;
  display: block;
  position: absolute;
}

.universe:before {
    content: "";
    box-shadow:
      10vw 1vh #fff,
      14vw 29vh 2px #FFF,
      23vw 34vh 1px #FFF,
      1vw 99vh 1px #FFF,
      0px 0px 10px 2px #FFF,
      0px 0px 10px 2px #FFF,
      20vw 80vh #FFF,
      90vw 10vh 2px #fff,
      0px 0px 10px 2px #FFF,
      55vw 9vh #FFF,
      24vw 4vh 1px #FFF,
      1px 1px 10px 2px #FFF,
      0px 0px 10px 2px #FFF,
      0px 0px 10px 2px #FFF,
      20vw 80vh #FFF,
      90vw 10vh 2px #fff,
      0px 0px 10px 2px #FFF,
      55vw 9vh #FFF,
      24vw 4vh 1px #FFF,
      1px 1px 10px 2px #FFF,
      0px 0px 10px 2px #FFF,
      0px 0px 10px 2px #FFF,
      20vw 80vh #FFF,
      90vw 10vh 2px #fff,
      0px 0px 10px 2px #FFF,
      55vw 9vh #FFF,
      24vw 4vh 1px #FFF,
      20vw 80vh #FFF,
      90vw 10vh 2px #fff,
      0px 0px 10px 2px #FFF,
      55vw 9vh #FFF,
      24vw 4vh 1px #FFF,
      1px 1px 10px 2px #FFF,
      0px 0px 10px 2px #FFF,
      0px 0px 10px 2px #FFF,
      20vw 80vh #FFF,
      90vw 10vh 2px #fff,
      0px 0px 10px 2px #FFF,
      1px 1px 10px 2px #FFF,
      0px 0px 10px 2px #FFF,
      20vw 80vh #FFF,
      85vw 78vh #fff;
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 20px;
  animation: starsFloating 30s -40s linear both infinite;
}

.universe:after {
    content: "";
    box-shadow:
      37vw 78vh #fff,
      17vw 69vh #FFF,
      68vw 4vh 1px 1px #FFF,
      98vw 9vh 1px 1px #FFF,
      45vw 67vh #FFF,
      95vw 1vh 2px 1px #fff,
      35vw 75vh 2px #FFF,
      44vw 47vh 1px #FFF,
      1px 1px 10px 2px #FFF,
      1px 1px 10px 2px #FFF,
      20vw 80vh #FFF,
      90vw 10vh 2px #fff,
      1px 1px 10px 2px #FFF,
      55vw 9vh #FFF,
      24vw 4vh 1px #FFF,
      1px 1px 10px 2px #FFF,
      35vw 75vh 2px #FFF,
      44vw 47vh 1px #FFF,
      1px 1px 10px 2px #FFF,
      1px 1px 10px 2px #FFF,
      20vw 80vh #FFF,
      90vw 10vh 2px #fff,
      1px 1px 10px 2px #FFF,
      55vw 9vh #FFF,
      24vw 4vh 1px #FFF,
      1px 1px 10px 2px #FFF,
      20vw 80vh #FFF,
      37vw 78vh #fff,
      17vw 69vh #FFF,
      68vw 4vh 1px #FFF,
      98vw 9vh 1px #FFF,
      45vw 67vh #FFF,
      95vw 1vh 2px #fff,
      35vw 75vh 2px #FFF,
      44vw 47vh 1px #FFF,
      54vw 5vh 1px #FFF,
      22vw 29vh 1px #FFF,
      39vw 71vh 1px #FFF,
      11vw 11vh #FFF,
      88vw 82vh #fff;
    width: 4px;
    height: 4px;
    position: absolute;
    border-radius: 50%;
    animation: starsFloating 30s 3s linear backwards infinite;
  }


  @keyframes starsFloating {
    0% {
     opacity: 0;
    }
    10% {
      opacity: 1;
    }
    50%{
      opacity: 0.5;
    }
    80%{
      opacity: 1;
    }
    100% {
      transform: translateY(-100vh);
    }
  }

// PURSING BUTTON
