

.Typist .Cursor {
  display: inline-block;}

.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
  }
.Typist {
  font-size: 34px;
  font-family: 'Roboto';
  color: whitesmoke;
  font-weight: lighter;
}
@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; }
  }



@mixin flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: auto;
}
.landing-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    background: linear-gradient(45deg, #B479C3,#6CD5F9)
}
.header {
    @include flex-center();
    width: 100%;
    height: 260px;
    font-family: 'Josefin Sans';
    animation: fade 0.2s;
    font-size: 46px;
    font-weight: 100;
    color: white;
    text-shadow: 2px 2px 30px black;

}
@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
.logobox {
        @include flex-center();
          height: 200px;
  }

.button-box {
    @include flex-center();
    height: 200px;
}
.shadow,
.Login-button {
    position: absolute;
    width: 180px;
    height: 40px;
}
.shadow {
  animation: pulse 1.2s ease infinite;
  background: rgb(94, 255, 238);
}

    .log-in{
        @include flex-center();
        height: 40px;
        width:180px;
        border: none;
        background-color: rgb(27, 225, 208);
        font-family: 'Roboto';
        font-weight: 400;
        color: white;
        font-size: 20px;
        cursor: pointer;
        outline: none;
        z-index: 99;
        }

a {
  text-decoration: none;
}

.service-box {
  height: 500px;
  width: 100%;
  @include flex-center();


}
