.mainpage-wrapper {
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #B479C3, #6CD5F9);
  width: 100%;
  height: 100vh; }
  .mainpage-wrapper .mainpage-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
    justify-content: center;
    width: 100%;
    height: 300px; }
    .mainpage-wrapper .mainpage-header .mainpage-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 80px;
      font-family: 'Josefin Sans';
      font-size: 20px;
      font-weight: 100;
      color: white;
      text-shadow: 0px 0px 30px black; }
    .mainpage-wrapper .mainpage-header .profile-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100px; }
      .mainpage-wrapper .mainpage-header .profile-box img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        box-shadow: 1px 1px 5px black; }
      .mainpage-wrapper .mainpage-header .profile-box p {
        text-align: center;
        height: 20px;
        width: 50px; }
    .mainpage-wrapper .mainpage-header .balance-bar {
      border-bottom: 1px white solid;
      border-top: 1px white solid;
      display: flex;
      height: 70px;
      width: 100%;
      justify-content: space-between;
      opacity: 0.9; }
      .mainpage-wrapper .mainpage-header .balance-bar .small-box {
        height: 70px;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: auto;
        justify-content: center;
        justify-content: space-around;
        color: white; }
      .mainpage-wrapper .mainpage-header .balance-bar .middle {
        border-right: 1px white solid;
        border-left: 1px white solid; }
  .mainpage-wrapper .mainpage-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
    justify-content: center;
    height: 400px;
    width: 100%; }
