

@mixin flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
    justify-content: center;
}
$border: 1px white solid;
$maincolor: linear-gradient(45deg, #B479C3,#6CD5F9);
@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.mainpage-wrapper {
    display:flex;
    flex-direction: column;
    background: $maincolor;
    width: 100%;
    height: 100vh;
    .mainpage-header {
        width: 100%;
        height: 350px;
        position: relative;
        .mainpage-logo {
            display:flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 150px;
            font-family: 'Josefin Sans';
            font-size: 40px;
            font-weight: 100;
            color: white;
            text-shadow: 2px 2px 5px black;
        }
        .profile-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          height: 200px;


            img{
              height: 80px;
              width: 80px;
              border-radius: 50%;
              box-shadow: 0px 0px 15px 1px #FFF;
              animation: pulse 1s infinite reverse alternate;
            }
            p{
              text-align: center;
              font-size: 20px;
              height:30px;
              width:100px;
              font-family: 'Roboto';
            }
            .line {
              height:1px;
              position: absolute;
              bottom: 0;
              width: 70vw;
              background:#FFF;
              border-bottom:1px solid #FFF;
              opacity: 0.5;
              box-shadow: 0px 0px 15px 1px #FFF;
            }
        }

      }

    .mainpage-body{
      @include flex-center();
      position: relative;
      height:400px;
      width: 100%;
      .create-event-button{
        position: absolute;
        top:10px;
      }
    }
  }
