.wrapper {
  height: 600px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .wrapper .Chips {
    width: 900px;
    height: 48px;
    display: flex; }
  .wrapper .button-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 420px;
    height: 40px;
    margin: auto; }
